
# Verification

## Structure

`Verification`

## Fields

| Name | Type | Tags | Description | Getter | Setter |
|  --- | --- | --- | --- | --- | --- |
| `Verified` | `boolean` | Required | - | boolean getVerified() | setVerified(boolean verified) |
| `Reason` | `String` | Required | - | String getReason() | setReason(String reason) |
| `Payload` | `String` | Required | - | String getPayload() | setPayload(String payload) |
| `Signature` | `String` | Required | - | String getSignature() | setSignature(String signature) |

## Example (as JSON)

```json
{
  "verified": false,
  "reason": "reason4",
  "payload": "payload6",
  "signature": "signature8"
}
```

